@import "variables.scss";

.hero-hero{
    background-image: url(./assets/jumbotron.jpg);
   background-size: cover;
   height: 20vW;
   z-index: -1;
    

}
.btn-top{
    padding:$padding-b;
    
  }

.container{
    max-width: $bigContainer;
    margin: $marginA;
    overflow: auto;
    position: relative;  
   
}

.box-img-icon-blu{
    width: 50px ;
    height: 50px ;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

button{
    padding: 5PX 15PX;
    background-color: $color_blue;
    color: $color_white;
    border: none;
}

//lezione rova
.product-container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: $padding-x;
    padding: $padding-c;

    .product-card{
        flex-basis: calc((100% / 6) - 5px);
        height: calc(100vw / 6);
        position: relative;

        .box-url{
            
            max-width: 150px;
            max-height: 150px;
            object-fit: cover;
            overflow: hidden;

            
    img{
        width: 100%;
        object-fit: cover;
    }
        }

        &:hover{
            .overlay-card{

                opacity: 1;
            }
        }
    }

   
/* 
    img{
        width: 100%;
        object-fit: cover;
    } */
    .overlay-card{
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        color: $color_black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        h3,h4{
            margin: 0;
        }
    }

    .overlay{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rosybrown;
        opacity: 0;
        backdrop-filter: blur(5px);
        backdrop-filter: blur 5px;
        transition: opacity .3s;
    }
}



.dark-content{
    text-align: left;
    background-color: $color_black;
    color:$color_white;
    padding-bottom: 40px ;
    text-align: center;
}
.bar-icon-main{
    padding: $padding-c;
    background-color:$color_blue;
    color: $color_white;

    
}

.list-group{
    display: flex;
    justify-content: space-evenly;

}

ul li{
    list-style: none;
}

.flexC{
    display: flex;
    align-items: center;
}

.flexF{
    display: flex;
    justify-content: space-between;
}