$color_blue:#0282F9;
$color_brown:#6F4646;
$color_black:#1C1C1C;
$color_white:#FFFFFF;
$color_lightBrown : #959595;
$footerbg:#303030;


$bigContainer:1000px;
$marginA: 0 auto;

$padding-c:40px 0;
$padding-y:10px 0;
$padding-x:0 5px;
$padding-b:10px 15px;
